.app {
  display: flex;
  max-width: 900px;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 150px;
}
input {
  height: 40px;
  width: 80%;
}
button {
  height: 46px;
  border: none;
  cursor: pointer;
  width: 90px;
  margin: 12px;
}
h2 {
  color: white;
}
